@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: Poppins;
}
.landing-page section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    background-color: white;
}

.landing-page .content-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
}

.landing-page .content-cards div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 400px;
    padding: 20px;

    border-radius: 10px;

    transition: all 0.3s ease;
}

.landing-page .content-cards div:hover{
    transform: translateY(-10px);
}

.landing-page .content-cards div h2{
    font-size: 12pt;
    font-weight: 600;
}

.landing-page #section-home{
    gap: 50px;

    min-height: 70vh;

    background-color: #212529;
}

.landing-page #section-home .content-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-page #section-home .content-title h1{
    color: white;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
}

.landing-page #section-home .content-title p{
    color: white;
    font-size: 12pt;
    text-align: center;
}

.landing-page #section-home .content-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.landing-page #section-home .content-cards div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    max-width: 400px;
    padding: 20px;

    background-color: #343a40;
    border-radius: 10px;
    border-bottom: solid 5px #ffb703;

    transition: all 0.3s ease;
}

.landing-page #section-home .content-cards div:hover{
    transform: translateY(-10px);
}

.landing-page #section-home .content-cards div h2{
    color: white;
    font-size: 12pt;
    font-weight: 600;
}

.landing-page #section-home .content-cards div p{
    color: #cccccc;
}
.landing-page #section-home .content-cards  button{
    color: white;
}

.landing-page #section-features{
    gap: 20px;
}

.landing-page #section-features h1{
    font-size: 20pt;
    font-weight: 600;
}

.landing-page #section-features .content-cards div{
    border: solid 1px #cccccc;
    border-bottom: solid 5px #212529;
}

.landing-page #section-planos{
    gap: 20px;
    background-color: #212529;
}

.landing-page #section-planos .content-cards div{
    background-color: #343a40;
    border-bottom: solid 5px #ffb703;
    cursor: pointer;
}

.landing-page #section-planos .content-cards h2,
.landing-page #section-planos .content-cards h3{
    color: white;
}

.landing-page #section-planos .content-cards h3{
    font-weight: 600;
    font-size: 12pt;
}

.landing-page #section-planos .content-cards p{
    color: #cccccc;
    font-size: 10pt;
}

.landing-page #section-planos .content-cards button{
    border: none;
    outline: none;

    margin-top: 30px;
    padding: 10px;

    font-weight: 600;
    background-color: #ffb703;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.landing-page #section-planos .content-cards button:hover{
    background-color: #ffc93f;
}

.landing-page #section-contact{
    gap: 20px;
}

.landing-page #section-contact h1{
    font-size: 20pt;
    font-weight: 600;
}

.landing-page #section-contact .content-form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 350px;
}

.landing-page #section-contact .content-form .form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.landing-page #section-contact .content-form .form div{
    display: flex;
    flex-direction: column;
}

.landing-page #section-contact .content-form .form div label{
    font-size: 10pt;
}

.landing-page  #section-contact .content-form .form div input,
.landing-page  #section-contact .content-form .form div textarea{
    border: none;
    outline: none;

    padding: 10px;

    font-size: 10pt;
    border-radius: 10px;
    border: solid 1px #cccccc;
    resize: vertical;

    transition: all 0.3s ease;
}

.landing-page #section-contact .content-form .form div input:focus,
.landing-page #section-contact .content-form .form div textarea:focus{
    border: solid 1px #212529;
}

.landing-page #section-contact .content-form button{
    border: none;
    outline: none;

    width: fit-content;
    padding: 10px 20px;

    color: white;
    font-size: 10pt;
    font-weight: 600;
    background-color: #212529;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.landing-page #section-contact .content-form button:hover {
    background-color: #343a40;
}
